<div class="homepage">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card" id="firstCard">
                    <div class="card-block">
                        <h4 class="card-title">
                            Card title
                        </h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <p class="card-text-expanded card-text">
                            Here is some text that would only be
                            visible when the content is expanded. <br />

                            Isnt this awesome!
                        </p>
                    </div>
                    <div class="card-background"></div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="card" id="secondCard">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text-expanded card-text">
                            Here is some text that would only be
                            visible when the content is expanded. <br />

                            Isnt this awesome!
                        </p>
                    </div>
                    <div class="card-background"></div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="card" id="thirdCard">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text-expanded card-text">
                            Here is some text that would only be
                            visible when the content is expanded. <br />

                            Isnt this awesome!
                        </p>
                    </div>
                    <div class="card-background"></div>
                </div>
            </div>

        </div>
    </div>
</div>